* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #ffffff;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #80b9e8;
}

/* HERO */
.hero {
  padding: 20px;
}

.hero-box {
  height: 250px;
  background: #16648300;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* OPTIONS */
.options {
  color: #80b9e8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: white;
}

.option {
  text-align: center;
}

.options {
  display: flex !important;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.option button {
  padding: 8px 15px;
  border: 1px solid #333;
  background: white;
  color: #80b9e8;        /* Set the text color */
  font-weight: bold;      /* Makes the text pop */
  cursor: pointer;
  transition: color 0.3s, background 0.3s;
}

.option button:hover {
  color: white;           /* Text changes on hover */
  background: #80b9e8;    /* Background changes on hover */
  border-color: #80b9e8;
}

/* CONTENT */
.content {
  padding: 30px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.row.reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  padding: 20px;
}

.image-box {
  flex: 1;
  height: 150px;
  background: #680d0dfc;
}
.main-image {
  padding: 20px;
  align-items: center;
  width: 100%;
  height: 600px;
} 

/* @media (max-width:760p){

.image-box {
  flex: 1;
  height: 100
  background: #680d0dfc;
}
main-image {
  max-width: 100%;
  height: auto;
}  */



 